
.container {
  background-color: #59b9ff;
  display: flex;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 53px 7px 8px;
}

.header {
  display: flex;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}


.maze-container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.7);
  border: 12px solid rgba(11, 51, 27, 1);
  background-color: #d9d9d9;
  margin-top: 10px;
  height: 361px;
  aspect-ratio: 1;
  position: relative;
}

img.Centered {
  position: absolute; /* Establece el posicionamiento absoluto para centrar la imagen */
  top: 50%; /* Ubica la imagen en el 50% de la parte superior del contenedor */
  left: 50%; /* Ubica la imagen en el 50% de la parte izquierda del contenedor */
  transform: translate(-50%, -50%); /* Centra la imagen horizontal y verticalmente */
  height: 320px;
  width: 320px;
}

.start-button {
  display: inline-block;
  color: white; /* Color del texto del botón */
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Tamaño del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */

  cursor: pointer;
  width: 400px; /* Ancho del botón */
  height: 150px; /* Alto del botón */
  transition: background-color 0.5s; /* Transición suave del color de fondo */
  border-radius: 30px; /* Bordes redondeados */
}

/* Estilos para el botón cuando se pasa el mouse sobre él */
.start-button:hover {
  transform: scale(1.05); /* Escalar el botón al hacer hover */
  background-color: transparent; /* Hacer el fondo del botón transparente al hacer hover */
}


