div.controlRobot {
    position: absolute;
    bottom: 12%;
    top: 12%;
    left: 5px;
    right: 5px;
    padding: 0;
    border-radius: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden; /* Evita que el contenido se desborde */
    z-index: 0; /* Asegura que el fondo esté detrás del contenido */
}

/* Pseudo-elemento para el fondo opaco */
div.controlRobot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo opaco con un 50% de opacidad */

    border-radius: inherit; /* Hereda el radio de borde de div.controlRobot */
    z-index: -1; /* Coloca el fondo detrás del contenido */
}


/* Flechas de translacion */
div.arrows {
    display: flex;
    flex-direction: column;
}

div.arrows img {
    width: 125px;
    height: 125px;
}

div.arrows div.up{
    margin-bottom: 30px;
}

div.arrows div.up img{
    transform: rotate(270deg);
}

div.arrows div.down{
    margin-bottom: 100px;
}

div.arrows div.down img{
    transform: rotate(90deg);
}

/* Flechas de rotacion */

div.rotating {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


div.rotating img {
    width: 110px;
    height: 110px;
}

div.rotating div.left {
    margin-right: 0;
}

div.rotating div.right {
    margin-left: 0;
}

div.rotating div.left img {
    transform: rotate(180deg);
}

div.rotating div.right img{
    transform: rotate(-180deg) scaleX(-1);
}


/* Boton de Fiesta */

div.party {
    position: absolute;
    bottom: 0;
}

div.party div.botomParty img{
    width: 300px;
    height: auto;
}