<app-header [title]="'Laberinto'"></app-header>

<ion-content [fullscreen]="true">
  <div class="center-content"> 
    <div class="image-container">
      <ion-img src="assets/Laberinto.png" alt="Imagen de laberinto"></ion-img>
    </div>

    <!-- Tu botón de iniciar con el id "open-loading" -->
    <ion-button class="ion-padding ion-text-center" expand="block"  (click)="presentLoading()" type="submit">
      
      <ion-text class="button">Resolver Laberinto</ion-text>
      
    </ion-button>  
  </div>
</ion-content>
