ion-list{
    background-color: rgb(14, 46, 69);
}

ion-img.usuarioImage {
    background-size: contain;
    margin-right: 10px;
    width: 30%;
    height: auto;
}
  
div.usuarioDetails {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
  
div.usuarioDetails ion-label:first-child {
    font-weight: bold;
}

ion-button{
    --background: red;
    --color: #ffffff;
    --border-width: 7px; 
    --border-style: solid; 
    --border-color: #350707;; /* Ajusta el color del borde */
    
    ion-icon {
        background-size: contain;
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}