<app-header [title]="'Usuario'"></app-header>

<ion-content  [fullscreen]="true">

  <div class="center-content">

    <ion-list *ngIf="usuario" lines="full">
      <ion-item>
        <ion-img class="usuarioImage" src="../../assets/UsuarioImage.png"> </ion-img>
        <div class="usuarioDetails">
          <ion-label>Nombre:</ion-label>
          <ion-label>{{usuario.nombre}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Email:</ion-label>
          <ion-label>{{ usuario.email }}</ion-label>
        </div>
      </ion-item>
      
      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Rut:</ion-label>
          <ion-label>{{ usuario.rut }}</ion-label>
        </div>
      </ion-item>
      
      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Región:</ion-label>
          <ion-label>{{ usuario.region }}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Premisos de Administrador:</ion-label>
          <ion-label>{{ usuario.isAdmin ? 'Posee' : 'No posee' }}</ion-label>
        </div>
      </ion-item>
    
    </ion-list>
    
    <ion-button (click)="logout()" class="ion-padding ion-text-center" expand="block" type="button">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>

  </div>

</ion-content>