<ion-content [fullscreen]="true">
  <div class="center-content">  
    <div class="box">
      
      <!-- Contenido del control remoto -->
      <div class="remote-control">
        <!-- Botones del control remoto -->
        <ion-button class="control-button up" fill="clear">
          <ion-icon name="arrow-up-outline"></ion-icon>
        </ion-button>
        <ion-button class="control-button left" fill="clear">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button class="control-button right" fill="clear">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
        <ion-button class="control-button down" fill="clear">
          <ion-icon name="arrow-down-outline"></ion-icon>
        </ion-button>
      </div>
    </div>

    <!-- Botón adicional fuera del contenedor principal -->
    <ion-button 
      class="ion-padding ion-text-center"
      expand="block" 
      type="button">
      Fiesta
    </ion-button>

  </div>
</ion-content>
