.custom-icon1 {
    background-image: url('../../assets/icon/laberintoSelected.png');
    background-size: contain;
    width: 24px;
    height: 24px;
}

.custom-icon2 {
    background-image: url('../../assets/icon/robotSelected.png');
    background-size: contain;
    width: 24px;
    height: 24px;
}

.custom-icon3 {
    background-image: url('../../assets/icon/usuarioSelected.png');
    background-size: contain;
    width: 24px;
    height: 24px;
}