<ion-header>
  <ion-toolbar>
    <ion-title>Sesion Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="center-content">
    
    <form class="ion-margin-top ion-padding">
      <ion-item lines="none">
        <ion-input
          type="email"
          name="email"
          id="email"
          placeholder="Correo electrónico"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-input
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
        ></ion-input>
      </ion-item>
    </form>

    <ion-button class="ion-padding ion-text-center" expand="block" type="submit">Iniciar sesión</ion-button>

    <div class="ion-text-center">
      <p>o continue con</p>
    </div>
    
    <ion-button class="ion-padding ion-text-center" expand="block" id="google" type="submit">
      <ion-img slot="start" src="../../assets/icon/googleIcon.png" alt=""></ion-img>
      Google
    </ion-button>
    

    <p>Si no posees cuenta, puedes registrarte</p>
    <ion-text routerLink="#">Crear una cuenta nueva</ion-text>
    
    
  </div>
</ion-content>