ion-content {
    --ion-safe-area-top: auto; /* Evita el espacio seguro en la parte superior */
    --ion-safe-area-bottom: auto; /* Evita el espacio seguro en la parte inferior */
}

form{
    width: 95%;
}

ion-item {
    --background: white;
    --color: black;
    border-radius: 60px;
    margin-bottom: 20px; /* Agregar un margen inferior */
}

.error-message {
    margin-top: -20px;
    
    p{
        margin-top: 0px;
        margin-bottom: 20px;
        color: red;
    }   
}
  
ion-button {
    --background: #000000;
    --color: #ffffff;

    ion-icon {
        background-size: contain;
        margin-right: 5px;
        width: 24px;
        height: 24px;
    }

    &[id="google"]{
        --background: #ffffff;
        --color: #000000;
        
        ion-img {
            background-size: contain;
            width: 24px;
            height: 24px;
        }
    }
}

p {
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
}

ion-text {
    color: #666666;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

