<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="center-content">
    
    <form [formGroup]="loginForm" class="ion-margin-top ion-padding">
      <ion-item lines="none">
        <ion-input
          formControlName="email"
          type="email"
          name="email"
          id="email"
          placeholder="email@gmail.com"
        ></ion-input>
      </ion-item>
      <div *ngIf="isEmailInvalid()" class="error-message">
        <p *ngIf="isEmailRequiredError()">*Este campo es obligatorio</p>
        <p *ngIf="isEmailFormatError()">El correo electrónico no es válido.</p>
      </div>

      <ion-item lines="none">
        <ion-input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="Contraseña"
        ></ion-input>
      </ion-item>
      <div *ngIf="isPasswordInvalid()" class="error-message">
        <p *ngIf="isPasswordRequiredError()">*Este campo es obligatorio</p>
        <p *ngIf="isPasswordMinLengthError()">La contraseña debe tener al menos 6 caracteres.</p>
      </div>
    
    </form>

    <ion-button (click)="login()" class="ion-padding ion-text-center" expand="block" type="button">
      Iniciar sesión
    </ion-button>

    <div class="ion-text-center">
      <p>o continue con</p>
    </div>
    
    <ion-button class="ion-padding ion-text-center" expand="block" id="google" type="submit">
      <ion-img slot="start" src="../../assets/icon/googleIcon.png" alt=""></ion-img>
      Google
    </ion-button>

    <p>Si no posees cuenta, puedes registrarte</p>
    <ion-text routerLink="#">Crear una cuenta nueva</ion-text>
  </div>
</ion-content>
