.center-content {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Altura total de la ventana */
    padding: 0; /* Elimina el padding extra */
  }


  
  .box {
    border: 10px solid #203447;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #264c74; /* Fondo gris oscuro */
    padding: 16px; /* Espaciado interno */
    opacity: 1; /* Opacidad ajustada */
    display: flex; /* Flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 20px;
}

.remote-control {
    display: grid; /* Utiliza Grid para disposición de botones */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(3, 1fr); /* Tres filas de igual altura */
    gap: 10px; /* Espacio entre botones */
    margin-top: 20px; /* Separación del borde superior del recuadro */
}

.control-button {
    --background: #2ef489;
    --color: #ffffff;
    --border-width: 8px; 
    --border-style: solid; 
    --border-color: #0b331b; /* Ajusta el color del borde */
    position: relative;
    /* overflow: hidden; */
    text-align: center; /* Centra el texto dentro del botón */
    transition: box-shadow 0.3s ease-in-out; /* Transición para el efecto de sombra */
    width: 100px; /* Ancho del botón */
    height: 100px; /* Altura del botón */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

ion-button{
    --background: #2ef489;
    --color: #ffffff;
    --border-width: 7px; 
    --border-style: solid; 
    --border-color: #0b331b;
}

.party-button{
    height: 15%;
    align-items: center;
    font-size: 200%;

}

.control-button ion-icon {
    pointer-events: auto; /* Reactiva los eventos del mouse para el ícono */
    /* Otras propiedades CSS */
}

.control-button::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.control-button:hover::after {
    opacity: 1;
    top: -20%;
    left: -20%;
}

.control-button:active {
    transform: scale(0.98);
}


/* Definir las áreas de la cuadrícula */
.remote-control .up {
    grid-area: 1 / 2 / 2 / 3;
}

.remote-control .left {
    grid-area: 2 / 1 / 3 / 2;
}

.remote-control .center {
    grid-area: 2 / 2 / 3 / 3;
}

.remote-control .right {
    grid-area: 2 / 3 / 3 / 4;
}

.remote-control .down {
    grid-area: 3 / 2 / 4 / 3;
}

/* Estiliza los iconos para que sean grandes */
.control-button ion-icon {
    font-size: 3em; /* Ajusta el tamaño del icono */
}