<app-header [title]="'Registro Usuario'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content>
  
      <div class="center-content">  

        <form [formGroup]="registroForm" class="ion-margin-top ion-padding ion-text-center">
          <!-- Nombre de usuario -->
          <ion-item lines="none">
            <ion-input label="Nombre de Usuario" labelPlacement="floating" type="text" formControlName="username" placeholder="Nombre de usuario"></ion-input>
          </ion-item>
        
          <!-- Rut -->
          <ion-item lines="none">
            <ion-input label="Rut" labelPlacement="floating" type="text" formControlName="rut" placeholder="Rut"></ion-input>
          </ion-item>
        
          <!-- Correo electrónico -->
          <ion-item lines="none">
            <ion-input label="Correo electrónico" labelPlacement="floating" type="email" formControlName="email" placeholder="email@gmail.com"></ion-input>
          </ion-item>
          <div *ngIf="isEmailInvalid()" class="error-message">
            <p *ngIf="isEmailRequiredError()">*Este campo es obligatorio</p>
            <p *ngIf="isEmailFormatError()">*El correo electrónico no es válido.</p>
          </div>
        
          <!-- Región -->
          <ion-item lines="none">
            <ion-select formControlName="region" placeholder="Selecciona una región" (ionChange)="filterComunasPorRegion($event.detail.value)">
              <ion-select-option *ngFor="let region of regiones" [value]="region.value">{{ region.label }}</ion-select-option>
            </ion-select>
          </ion-item>

          <!-- Comuna -->
          <ion-item lines="none">
            <ion-select formControlName="comuna" placeholder="Selecciona una comuna" (ionChange)="filterComunasPorRegion(registroForm.get('comuna')?.value)">
              <ion-select-option *ngFor="let comuna of comunas" [value]="comuna.value">{{ comuna.label }}</ion-select-option>
            </ion-select>
          </ion-item>
        
          <!-- Contraseña -->
          <ion-item lines="none">
            <ion-input label="Contraseña" labelPlacement="floating" type="password" formControlName="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          <div *ngIf="isPasswordInvalid()" class="error-message">
            <p *ngIf="isPasswordRequiredError()">*Este campo es obligatorio</p>
            <p *ngIf="isPasswordMinLengthError()">*La contraseña debe tener al menos 6 caracteres.</p>
          </div>

        </form>

        <ion-button class="ion-text-center" expand="block" type="button">
          <ion-icon name="checkmark-outline"></ion-icon>
          Registrar
        </ion-button>

        <div class="ion-text-center">
          <p>Al registrarse usted acepta nuestro <span class="terms">Términos de Servicio</span> y <span class="privacy-policy">Política de Privacidad</span></p>
        </div>
        
        <div class="ion-text-center">
          <p>--------- o continue con --------</p>
        </div>

        <ion-button class="ion-text-center" expand="block" (click)="noImplementado()" id="google" type="submit">
          <ion-img slot="start" src="../../assets/icon/googleIcon.png" alt=""></ion-img>
          Google
        </ion-button>

      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>