<ion-header>
  <ion-toolbar>
    <ion-title>Laberinto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <div class="center-content">

    <ion-img src="assets/maze.png" alt="Imagen de laberinto"></ion-img>

    <!-- Tu botón de iniciar con el id "open-loading" -->
    <ion-button routerLink="laberinto-end" class="ion-padding ion-text-center" expand="block">
      <ion-text class="button">Iniciar</ion-text>
    </ion-button>

  </div>

</ion-content>
