.center-image {
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    text-align: center;       /* Asegura que el texto esté centrado */
    border-radius: 10px;      /* Añade bordes redondeados */
    padding: 0px;            /* Añade espacio entre el borde y la imagen */
     /* Oculta el scroll vertical */
  }


  

ion-button {
    width: 100%;
    height: 20%;

    --background: #2ef489;
    --color: #ffffff;

    font-size: 50px;
    color: #fff; /* Color del texto */
    font-weight: bold;
}



.bordered-button {
    border: 2px solid #000;  /* Añade un borde sólido de 2px de grosor y color negro */
  }
